@import "constants/colors.scss";

body {
    margin: 0;
    background-color: $default_bg;
    color: $default_fg;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 70vw;
    height: 70vh;
    background-color: grey;
    padding: 3vmin;
    border-radius: 5vmin;
    margin: 0;
    z-index: 1;
    display: none;

    &:not(.modal--show) {
        display: none;
    }

    .modal__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .modal__top {
        font-size: 3em;
    }

    .modal__bottom {
        font-size: 1em;
        display: flex;
        min-height: 0;
    }

    .modal__left, .modal__right {
        // margin: 0;
        margin: 0 1em;
        width: 50%;
    }

    .modal__left {
        // margin: 0;

        & picture#cover img {
            object-fit: contain;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }

    .modal__right {

        font-size: 1.5em;
        display: flex;
        flex-direction: column;

        &__info {
            margin-bottom: 1em;
        }
        
        &__description {
            border-radius: 1em;
            border: 2px solid black;
            padding: 5px;
            display: inline-block;
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

    }
}