@use "sass:color";

$default_bg: #181818;
$default_fg: #CFCFCF;

$button_active: rgb(188, 29, 29);
$button_bg: rgb(62, 62, 62);
$button_fg: color.change(white, $alpha: 0.6);

$videoinfo_background: linear-gradient(rgba(0,0,0, 0.4), black);

$modal_overlay: color.change(black, $alpha: 0.6);
$modal_bg: linear-gradient(0deg, rgb(74, 74, 74), rgb(55, 55, 55));
// $modal_bg: rgb(74, 74, 74);