.carousel {
    display: flex;
    align-items: stretch;
}

.carousel__previous, .carousel__next {
    width: 2em;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.carousel__items {
    cursor: grabbing;
    display: flex;
    position: relative;
    overflow-x: auto;
}

.carousel__items > * {
    display: flex;
    justify-content: center;
    align-items: center;
}