:host {
  cursor: pointer;
  font-size: 0.8em;
  width: auto;
  font-weight: 900;
  height: 1.5em;
  border-radius: 0.5em;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgb(62, 62, 62);
  padding: 0.3em 0.5em;
  overflow: hidden;
  text-align: center;
}

:host .playbutton__text::after {
  content: ">";
}

:host(:hover) {
  background-color: rgb(188, 29, 29);
}