/* TODO Add portrait/landscape values */

.videoinfo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: bold;
}

@media (orientation: portrait) {
    .videoinfo {
        box-shadow: inset 0px 0px 10vw #000;
    }
}

@media (orientation: landscape) {
    .videoinfo {
        box-shadow: inset 0px 0px 10vh #000;
    }
}

.videoinfo:not(.videoinfo--full) {
    background: orange;
}

.videoinfo--full {
    background: green;
}

picture#picture {
    width: 100%;
    height: auto;
}

picture#picture img {
    object-fit: fill;
    object-position: center;
    width: 100%;
    height: 100%;
}

.videoinfo__data {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0.6rem;
}

.videoinfo_data__info {
    display: flex;
    flex-direction: column;
}

::sloted([slot="title"]), slot[name="title"] {
}

#play-button {
}

.videoinfo:not(.videoinfo--short) .videoinfo_data_info__extra {
    visibility: collapse;
}

.videoinfo_data_info__extra {
    font-size: 0.6em;
    transform: translateX(2em);
}

::sloted([slot="score"]), slot[name="score"] {
}

slot[name="score"]::before {
    content: "IMDB: ";
}
